[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LPS"]
	path = LPS
	url = https://github.com/maressyl/r.lps
	shallow = true
	subdir = LPS
	registered = true
[submodule "ODB"]
	path = ODB
	url = https://github.com/maressyl/r.odb
	shallow = true
	subdir = ODB
	registered = true
[submodule "Rgb"]
	path = Rgb
	url = https://github.com/maressyl/r.rgb
	shallow = true
	subdir = Rgb
	registered = true
[submodule "cghRA"]
	path = cghRA
	url = https://github.com/maressyl/r.cghra
	shallow = true
	subdir = cghRA
	registered = true
