[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSAtools"]
	path = FSAtools
	url = https://github.com/maressyl/r.fsatools
	subdir = FSAtools
[submodule "LPS"]
	path = LPS
	url = https://github.com/maressyl/r.lps
	subdir = LPS
[submodule "ODB"]
	path = ODB
	url = https://github.com/maressyl/r.odb
	subdir = ODB
[submodule "Rgb"]
	path = Rgb
	url = https://github.com/maressyl/r.rgb
	subdir = Rgb
